:root {
    --bg-color: #002339;
    --main-green: #019f55;
    --primary-text-color: #fff;
    --secondary-text-color: #d2d2d2;
    --menu-opcoes: #ffffff40;
    --border-button: #ffffff40;
}

.light-theme {
    --bg-color: #DBF5F0;
    --main-green: #01db75;
    --primary-text-color: #000;
    --secondary-text-color: #2b2b2b;
    --menu-opcoes: #bbbbbb20;
    --border-button: #00000010;
}

* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}

body {
    background-color: var(--bg-color);
    color: var(--primary-text-color);
}

.container {
    margin: 6% 12% 0 12%;
    ;
    width: 90%;
    max-width: 700px;
}

.container h1 {
    font-size: 48px;
    font-weight: 500;
    min-width: 400px;
    margin-bottom: 50px;
}

.container h1 span {
    color: var(--main-green);
    border-bottom: 4px solid var(--main-green);
}

.box {
    width: 100%;
    min-width: min-content;
    margin-top: 35px;
    margin-bottom: 30px;
    background-color: #fff;
    color: var(--main-green);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 26px 20px;
    border-radius: 5px;
    border: 2px solid var(--main-green);
}

.box-opcoes {
    display: flex;
}

#copy-icon {
    font-size: 48px;
    font-weight: 600;
    cursor: pointer;
}

.box input {
    border: 0;
    outline: 0;
    font-size: 24px;
}

.container button {
    border: 0;
    outline: 0;
    background-color: var(--main-green);
    color: var(--primary-text-color);
    font-size: 20px;
    font-weight: 300;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px 26px;
    border-radius: 5px;
    cursor: pointer;
    min-width: 224px;
    border: 1px solid var(--border-button);
}

#bolt-icon {
    font-size: 36px;
    font-weight: 500;
}

/*
Toggle Button Teste
*/

.toggleButton {
    background-color: #d2d2d2;
    width: 70px;
    height: 20px;
    border-radius: 200px;
    cursor: pointer;
    position: relative;
    transition: 0.2s;
}

.toggleButton::before {
    position: absolute;
    content: '';
    background-color: #fff;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin-top: -7px;
    transition: 0.2s;
}

.checkbox:checked+.toggleButton {
    background-color: #01db75;
}

.checkbox:checked+.toggleButton::before {
    background-color: #00b963;
    transform: translateX(35px);
}

.checkbox {
    display: none;
}

.opcoes-paragrafo {
    position: relative;
}

.opcoes-paragrafo::after {
    position: absolute;
    content: '|';
    font-size: 16px;
    right: -10px;
}

#expand-more {
    font-size: 24px;
    font-weight: 200;
}

.botao-opcoes {
    display: flex;
    margin-bottom: 20px;
    color: var(--secondary-text-color);
    opacity: 0.8;
    font-size: 14px;
    font-weight: 300;
    gap: 8px;
    cursor: pointer;
    transition: 0.3s;
    margin-right: 7px;
}

.opcoes.ativo>.botao-opcoes>#expand-more {
    transform: rotate(-180deg);
}

.menu-opcoes {
    display: none;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    gap: 1.25em;
    background-color: var(--menu-opcoes);
    padding: 2em .5em;
    border-radius: 25px;
}

.item-opcoes {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
}

.opcoes.ativo>.menu-opcoes {
    display: grid;
}

.box-toggleButton {
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
    align-self: center;
}